{{define "promptModal"}}
<a-modal :class="themeSwitcher.currentTheme" :closable="true" :confirm-loading="promptModal.confirmLoading"
         :mask-closable="false" :ok-text="promptModal.okText" :title="promptModal.title"
         @ok="promptModal.ok"
         cancel-text='{{ i18n "cancel" }}' id="prompt-modal" v-model="promptModal.visible"
         wrap-class-name="panel-modal panel-modal-md">
    <a-input :autosize="{minRows: 10, maxRows: 20}" :type="promptModal.type"
             @keydown.ctrl.83="promptModal.ctrlS"
             @keydown.enter.native="promptModal.keyEnter"
             id="prompt-modal-input"
             v-model="promptModal.value"></a-input>
</a-modal>

<script>

    const promptModal = {
        title: '',
        type: '',
        value: '',
        okText: '{{ i18n "sure"}}',
        visible: false,
        confirmLoading: false,
        keyEnter(e) {
            if (this.type !== 'textarea') {
                e.preventDefault();
                this.ok();
            }
        },
        ctrlS(e) {
            if (this.type === 'textarea') {
                e.preventDefault();
                promptModal.confirm(promptModal.value);
            }
        },
        ok() {
            promptModal.confirm(promptModal.value);
        },
        confirm() {
        },
        open({
                 title = '',
                 type = 'text',
                 value = '',
                 okText = '{{ i18n "sure"}}',
                 confirm = () => {
                 },
             }) {
            this.title = title;
            this.type = type;
            this.value = value;
            this.okText = okText;
            this.confirm = confirm;
            this.visible = true;
            promptModalApp.$nextTick(() => {
                document.querySelector('#prompt-modal-input').focus();
            });
        },
        close() {
            this.visible = false;
        },
        loading(loading = true) {
            this.confirmLoading = loading;
        },
    };

    const promptModalApp = new Vue({
        el: '#prompt-modal',
        data: {
            promptModal: promptModal,
        },
    });

</script>
{{end}}
