{{define "form/streamSockopt"}}
<a-divider style="margin:5px 0 0;"></a-divider>
<a-form :colon="false" :label-col="{ md: {span:8} }" :wrapper-col="{ md: {span:14} }">
    <a-form-item label="Sockopt">
        <a-switch v-model="inbound.stream.sockoptSwitch"></a-switch>
    </a-form-item>
    <template v-if="inbound.stream.sockoptSwitch">
        <a-form-item label="Route Mark">
            <a-input-number :min="0" v-model.number="inbound.stream.sockopt.mark"></a-input-number>
        </a-form-item>
        <a-form-item label="TCP Keep Alive Interval">
            <a-input-number :min="0" v-model.number="inbound.stream.sockopt.tcpKeepAliveInterval"></a-input-number>
        </a-form-item>
        <a-form-item label="TCP Keep Alive Idle">
            <a-input-number :min="0" v-model.number="inbound.stream.sockopt.tcpKeepAliveIdle"></a-input-number>
        </a-form-item>
        <a-form-item label="TCP Max Seg">
            <a-input-number :min="0" v-model.number="inbound.stream.sockopt.tcpMaxSeg"></a-input-number>
        </a-form-item>
        <a-form-item label="TCP User Timeout">
            <a-input-number :min="0" v-model.number="inbound.stream.sockopt.tcpUserTimeout"></a-input-number>
        </a-form-item>
        <a-form-item label="TCP Window Clamp">
            <a-input-number :min="0" v-model.number="inbound.stream.sockopt.tcpWindowClamp"></a-input-number>
        </a-form-item>
        <a-form-item label="Proxy Protocol">
            <a-switch v-model="inbound.stream.sockopt.acceptProxyProtocol"></a-switch>
        </a-form-item>
        <a-form-item label="TCP Fast Open">
            <a-switch v-model.trim="inbound.stream.sockopt.tcpFastOpen"></a-switch>
        </a-form-item>
        <a-form-item label="TCP No Delay">
            <a-switch v-model.trim="inbound.stream.sockopt.tcpNoDelay"></a-switch>
        </a-form-item>
        <a-form-item label="Multipath TCP">
            <a-switch v-model.trim="inbound.stream.sockopt.tcpMptcp"></a-switch>
        </a-form-item>
        <a-form-item label="Penetrate">
            <a-switch v-model.trim="inbound.stream.sockopt.penetrate"></a-switch>
        </a-form-item>
        <a-form-item label="V6 Only">
            <a-switch v-model.trim="inbound.stream.sockopt.V6Only"></a-switch>
        </a-form-item>
        <a-form-item label='Domain Strategy'>
            <a-select :dropdown-class-name="themeSwitcher.currentTheme" style="width: 50%"
                      v-model="inbound.stream.sockopt.domainStrategy">
                <a-select-option :value="key" v-for="key in DOMAIN_STRATEGY_OPTION">[[ key ]]</a-select-option>
            </a-select>
        </a-form-item>
        <a-form-item label='TCP Congestion'>
            <a-select :dropdown-class-name="themeSwitcher.currentTheme" style="width: 50%"
                      v-model="inbound.stream.sockopt.tcpcongestion">
                <a-select-option :value="key" v-for="key in TCP_CONGESTION_OPTION">[[ key ]]</a-select-option>
            </a-select>
        </a-form-item>
        <a-form-item label="TProxy">
            <a-select :dropdown-class-name="themeSwitcher.currentTheme" style="width: 50%"
                      v-model="inbound.stream.sockopt.tproxy">
                <a-select-option value="off">Off</a-select-option>
                <a-select-option value="redirect">Redirect</a-select-option>
                <a-select-option value="tproxy">TProxy</a-select-option>
            </a-select>
        </a-form-item>
        <a-form-item label="Dialer Proxy">
            <a-input v-model="inbound.stream.sockopt.dialerProxy"></a-input>
        </a-form-item>
        <a-form-item label="Interface Name">
            <a-input v-model="inbound.stream.sockopt.interfaceName"></a-input>
        </a-form-item>
    </template>
</a-form>
{{end}}
