{{define "balancerModal"}}
<a-modal
        :class="themeSwitcher.currentTheme"
        :closable="true"
        :confirm-loading="balancerModal.confirmLoading"
        :mask-closable="false"
        :ok-button-props="{ props: { disabled: !balancerModal.isValid } }"
        :ok-text="balancerModal.okText"
        :title="balancerModal.title"
        @ok="balancerModal.ok"
        cancel-text='{{ i18n "close" }}'
        id="balancer-modal"
        v-model="balancerModal.visible">
    <a-form :colon="false" :label-col="{ md: {span:8} }" :wrapper-col="{ md: {span:14} }">
        <a-form-item :validate-status="balancerModal.duplicateTag? 'warning' : 'success'" has-feedback
                     label='{{ i18n "pages.xray.balancer.tag" }}'>
            <a-input @change="balancerModal.check()" placeholder='{{ i18n "pages.xray.balancer.tagDesc" }}'
                     v-model.trim="balancerModal.balancer.tag"></a-input>
        </a-form-item>
        <a-form-item label='{{ i18n "pages.xray.balancer.balancerStrategy" }}'>
            <a-select :dropdown-class-name="themeSwitcher.currentTheme" v-model="balancerModal.balancer.strategy">
                <a-select-option value="random">Random</a-select-option>
                <a-select-option value="roundRobin">Round Robin</a-select-option>
                <a-select-option value="leastLoad">Least Load</a-select-option>
                <a-select-option value="leastPing">Least Ping</a-select-option>
            </a-select>
        </a-form-item>
        <a-form-item :validate-status="balancerModal.emptySelector? 'warning' : 'success'" has-feedback
                     label='{{ i18n "pages.xray.balancer.balancerSelectors" }}'>
            <a-select :dropdown-class-name="themeSwitcher.currentTheme" @change="balancerModal.checkSelector()" mode="tags"
                      v-model="balancerModal.balancer.selector">
                <a-select-option :value="tag" v-for="tag in balancerModal.outboundTags">[[ tag ]]</a-select-option>
            </a-select>
        </a-form-item>
        <a-form-item label="Fallback">
            <a-select :dropdown-class-name="themeSwitcher.currentTheme" clearable
                      v-model="balancerModal.balancer.fallbackTag">
                <a-select-option :value="tag" v-for="tag in [ '', ...balancerModal.outboundTags]">[[ tag ]]
                </a-select-option>
            </a-select>
        </a-form-item>
        </table>
    </a-form>
</a-modal>
<script>
    const balancerModal = {
        title: '',
        visible: false,
        confirmLoading: false,
        okText: '{{ i18n "sure" }}',
        isEdit: false,
        confirm: null,
        duplicateTag: false,
        emptySelector: false,
        balancer: {
            tag: '',
            strategy: 'random',
            selector: [],
            fallbackTag: ''
        },
        outboundTags: [],
        balancerTags: [],
        ok() {
            if (balancerModal.balancer.selector.length == 0) {
                balancerModal.emptySelector = true;
                return;
            }
            balancerModal.emptySelector = false;
            ObjectUtil.execute(balancerModal.confirm, balancerModal.balancer);
        },
        show({
                 title = '', okText = '{{ i18n "sure" }}', balancerTags = [], balancer, confirm = (balancer) => {
            }, isEdit = false
             }) {
            this.title = title;
            this.okText = okText;
            this.confirm = confirm;
            this.visible = true;
            if (isEdit) {
                balancerModal.balancer = balancer;
            } else {
                balancerModal.balancer = {
                    tag: '',
                    strategy: 'random',
                    selector: [],
                    fallbackTag: ''
                };
            }
            this.balancerTags = balancerTags.filter((tag) => tag != balancer.tag);
            this.outboundTags = app.templateSettings.outbounds.filter((o) => !ObjectUtil.isEmpty(o.tag)).map(obj => obj.tag);
            this.outboundTags.push(...app.clientReverseTags);
            this.isEdit = isEdit;
            this.check();
            this.checkSelector();
        },
        close() {
            this.visible = false;
            this.loading(false);
        },
        loading(loading = true) {
            this.confirmLoading = loading;
        },
        check() {
            if (this.balancer.tag == '' || this.balancerTags.includes(this.balancer.tag)) {
                this.duplicateTag = true;
                this.isValid = false;
            } else {
                this.duplicateTag = false;
                this.isValid = true;
            }
        },
        checkSelector() {
            this.emptySelector = this.balancer.selector.length == 0;
        }
    };

    new Vue({
        delimiters: ['[[', ']]'],
        el: '#balancer-modal',
        data: {
            balancerModal: balancerModal
        },
        methods: {}
    });

</script>
{{end}}